.header {
  height: 200px;
  width: 100%;
  background-color: var(--gray-700);  

  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  height: 48px;
  width: 126px;  
}