.container {
  height: 72px;
  width: 736px;
  background-color: var(--gray-500); 
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-top: 12px;
}

.container label {
  color: var(--gray-100);  
  font-size: 14px;
  font-weight: 400;
}

div .scratch {
  text-decoration: line-through;
  color: var(--gray-300);
}

.container input {
  display: none;  
}

.container input + label:before {
  content: "";
  display: inline-block;  
  height: 17px;
  width: 17px;  
  border: 2px solid var(--blue);
  border-radius: 50%;
  margin-right: 12px;
  vertical-align: middle;
}

.container:hover input + label:before{
  content: "";
  border: 2px solid var(--purple);  
}

.container input:checked + label:before {
  height: 17px;
  width: 17px; 
  content: "";
  background-color: var(--purple);
  border: 2px solid var(--purple);
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
}

.container .delete {
  height: 24px;
  width: 24px;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ;
  cursor: pointer;
}

.container .delete:hover {
  background-color: var(--gray-400);
  color: var(--danger);
  border-radius: 4px;
  
}