.main {
  height: 100%;
  width: 736px;  
  margin: 0 auto;
}

.main form {
  display: flex;
  justify-content: space-between;
}

.main .input {
  width: 638px;
  height: 54px;
  border-radius: 8px;
  background-color: var(--gray-500);
  color: var(--gray-300);
  border: 0;
  padding: 16px 430px 16px 16px;
  margin-top: -1.8rem;
}

.main .add{
  height: 52px;
  width: 90px;
  background-color: var(--blue-dark);
  border-radius: 8px;
  border: 0;
  color: var(--gray-100);
  cursor: pointer;
  transition: background-color .4s;
  font-weight: 700;
  font-size: 0.875rem;
  margin-top: -1.8rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main .add:hover {
  background-color: var(--blue);
}

.todoList {
  margin-top: 64px;
}

.setupCount {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
}

.setupCount div {
  display: flex;
  width: 139px;
  height: 19px;
}

.setupCount div:nth-child(1) p{
  color: var(--blue);
  display: block;
}

.setupCount div:nth-child(2) p{
  color: var(--purple);
}

.setupCount .number {
  display: flex;
  width: 25px;
  height: 19px;
  border-radius: 999px;
  background-color: var(--gray-400);
  color: var(--gray-200);
  margin-left: 8px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.setupCount .done {
  display: flex;
  width: 52px;
  height: 19px;
  border-radius: 999px;
  background-color: var(--gray-400);
  color: var(--gray-200);
  margin-left: 8px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.center {
  height: 244px;
  width: 736;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.center p:nth-child(1){
  font-size: 16px;
  color: var(--gray-300);
  font-weight: 700;
  line-height: 1.6;
}

.center p:nth-child(2){
  font-size: 16px;
  color: var(--gray-300);
  font-weight: 400;
}

.todo {
  width: 736px;
  height: 100%;
}