.main {
  height: 100%;
  width: 736px;  
  margin: 0 auto;
}

.main form {
  display: flex;
  justify-content: space-between;
}

.main input {
  width: 638px;
  height: 54px;
  border-radius: 8px;
  background-color: var(--gray-500);
  color: var(--gray-300);
  border: 0;
  padding: 16px 430px 16px 16px;
  margin-top: -1.8rem;
}

.main button{
  height: 52px;
  width: 90px;
  background-color: var(--blue-dark);
  border-radius: 8px;
  border: 0;
  color: var(--gray-100);
  cursor: pointer;
  transition: background .4s;
  font-weight: 700;
  font-size: 0.875rem;
  margin-top: -1.8rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main button:hover {
  background-color: var(--blue);
}