.App {
  text-align: center;
}

.title{
  font-size: 40px;
  text-transform: uppercase;
  background-color: #242424;
  color: #FFFFFF;
  width: 600px;
  padding: 20px;
  border-radius: 15px;
  margin: 20px auto;
}


