form{
    max-width: 500px;
    margin: 0 auto;
}

label{
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
}

.form-control input{
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}