body{
  margin: 0;
  padding: 0 0 1000px 0;
  font-family: Helvetica;
}

h1{
  color: red;
  text-transform: uppercase;
}

.title-red{
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 20px;
}

.title-blue{
  background-color: blue;
  color: white;
  padding: 20px;
  font-size: 20px;
}